<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/dashboard.css" />
    <title>Dashboard</title>
  </head>

  <style>
    .post-wrape {
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
      flex-wrap: wrap;
      line-height: 2;
    }
    .tableDiv {
      position: relative;
      width: 30%;
      overflow: hidden;
      box-shadow: 6px 10px 10px rgba(236, 225, 225, 0.808);
      padding: 10px;
    }
    .assignment {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 8px;
      width:  100%;
      padding: 10px;
    }

    .post-fot {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      flex-direction: column;
      margin-top: 5px;
      text-wrap: wrap;
    }

    .delete-icon {
      position: absolute;
      top: 20px;
      left: 20px;
    }
    .icon {
      background-color: #151313e6;
      padding: 5px;
      border-radius: 50%;
      cursor: pointer;
    }
  </style>
  <body>
    <%include ./parshies/menu.ejs%>

    <div class="content">
      <div class="title-info">
        <p>All Assignments</p>
        <form action="/dashbord/assignments" method="get" class="search_form">
          <input
            type="text"
            name="search"
            placeholder="Search by Username"
            value="<%=search %>"
          />
          <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <i class="fa fa-align-justify three-line" onclick="toggle()" aria-hidden="true"></i>
      </div>
      <div class="post-wrape">
        <%posts.forEach(function(post){%>
        <div class="tableDiv">
          <form action="/deletePost/<%=post._id%>" method="post" class="form">
            <div class="assignment">
              <iframe
                src="<%= '/assignments/' + post.file %>"
                width="400pxpx"
                height="200px"
              ></iframe>
              <div class="post-fot">
                <span><%= post.topic %></span>
                <span>@<%=post.username%></span>
              </div>
            </div>
            <button type="submit" class="delete-icon">
                <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      fill="currentColor"
                      class="bi bi-trash icon"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
                      />
                      <path
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
                      />
                    </svg>
                  </span>
            </button>
          </form>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
